{% extends "base.njk" %}

{% block content %}

    <section class="site-project-single-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="site-project-single">
              <h1>
                {{title}}
              </h1>
              <div class="site-project-single-description">
                {{content | safe}}
              </div>
              <div class="site-project-single-image">
                <img decoding="async" loading="lazy" src="{{featureImg1}}" alt="project image">
                {% if featureImg2 != "" %}
                    <img decoding="async" loading="lazy" src="{{featureImg2}}" alt="project image">
                {% endif %}
              </div>
              {% if collections.portfolios %}
                <div class="col-12 text-center text-lg-left">
                  <a href="/portfolio" class="site-project-cta">Ver todos los cursos</a>
                </div>
              {% endif %} 
            </div>
          </div>
        </div>
      </div>
    </section>
  
{% endblock %}